In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
df = pd.read_excel("olympic 2018.xlsx")

In [8]:
df

                          Team
0                      Athlete
1                        Sport
2                       Medals
3                       NORNOR
4     johannes hoesflot klaebo
...                        ...
3364             Sara Sakkinen
3365                Ice Hockey
3366                         -
3367                         -
3368                         1

[3369 rows x 1 columns]