In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Load the datasets
df = pd.read_csv('03_District_wise_crimes_committed_against_children_2013.csv')
df1 = pd.read_csv('03_District_wise_crimes_committed_against_children_2001_2012.csv')

# Remove rows where 'District' is 'TOTAL'
df = df[df['DISTRICT'] != 'TOTAL']
df1 = df1[df1['DISTRICT'] != 'TOTAL']

# Standardize column names
df.rename(columns={'STATE/UT': 'State/UT', 'DISTRICT': 'District'}, inplace=True)
df1.rename(columns={'STATE/UT': 'State/UT', 'DISTRICT': 'District'}, inplace=True)

# Combine 'Murder' and 'Infanticid' into 'Murder' in df1
df1['Murder'] = df['Other murder'] + df['Infanticid']

# Drop the now redundant 'Infanticid' column
df.drop(columns=['Infanticid'], inplace=True)

# Concatenate the datasets
combined_df = pd.concat([df1, df], ignore_index=True, sort=False)

# Handle missing values (example: fill with 0 or appropriate value)
combined_df.fillna(0, inplace=True)

# Save the combined dataset to a new CSV
combined_df.to_csv('combined_crime_data_2001_2013.csv', index=False)

print(combined_df.head())

         State/UT       District  Year  Murder  Rape  \
0  ANDHRA PRADESH       ADILABAD  2001     1.0   0.0
1  ANDHRA PRADESH      ANANTAPUR  2001     1.0  12.0
2  ANDHRA PRADESH       CHITTOOR  2001     6.0   0.0
3  ANDHRA PRADESH       CUDDAPAH  2001     2.0   0.0
4  ANDHRA PRADESH  EAST GODAVARI  2001     9.0   0.0

   Kidnapping and Abduction  Foeticide  Abetment of suicide  \
0                       0.0        0.0                  0.0
1                      29.0        0.0                  6.0
2                       0.0        0.0                  0.0
3                       0.0        0.0                  0.0
4                       0.0        0.0                  0.0

   Exposure and abandonment  Procuration of minor girls  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       0.0                         0.0
4                       0.0                         0.0

   Buying of girls for prostitution  Selling of girls for prostitution  \
0                               0.0                                0.0
1                               0.0                                0.0
2                               0.0                                0.0
3                               0.0                                0.0
4                               0.0                                0.0

   Prohibition of child marriage act  Other Crimes  Total  Other murder
0                                0.0           0.0      0           0.0
1                                0.0           0.0     66           0.0
2                                0.0           0.0      0           0.0
3                                0.0           0.0      0           0.0
4                                0.0           0.0      0           0.0

In [3]:
df1.columns

Index(['State/UT', 'District', 'Year', 'Murder', 'Rape',
       'Kidnapping and Abduction', 'Foeticide', 'Abetment of suicide',
       'Exposure and abandonment', 'Procuration of minor girls',
       'Buying of girls for prostitution', 'Selling of girls for prostitution',
       'Prohibition of child marriage act', 'Other Crimes', 'Total'],
      dtype='object')

In [4]:
df.columns

Index(['State/UT', 'District', 'Year', 'Other murder', 'Rape',
       'Kidnapping and Abduction', 'Foeticide', 'Abetment of suicide',
       'Exposure and abandonment', 'Procuration of minor girls',
       'Buying of girls for prostitution', 'Selling of girls for prostitution',
       'Prohibition of child marriage act', 'Other Crimes', 'Total'],
      dtype='object')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8603 entries, 0 to 9013
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   State/UT                           8603 non-null   object
 1   District                           8603 non-null   object
 2   Year                               8603 non-null   int64
 3   Murder                             754 non-null    float64
 4   Rape                               8592 non-null   float64
 5   Kidnapping and Abduction           8592 non-null   float64
 6   Foeticide                          8592 non-null   float64
 7   Abetment of suicide                8592 non-null   float64
 8   Exposure and abandonment           8592 non-null   float64
 9   Procuration of minor girls         8592 non-null   float64
 10  Buying of girls for prostitution   8592 non-null   float64
 11  Selling of girls for prostitution  8592 non-null   float64
 12  Prohibition of child marriage act  8592 non-null   float64
 13  Other Crimes                       8592 non-null   float64
 14  Total                              8603 non-null   int64
dtypes: float64(11), int64(2), object(2)
memory usage: 1.1+ MB

In [8]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9391 entries, 0 to 9390
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   State/UT                           9391 non-null   object
 1   District                           9391 non-null   object
 2   Year                               9391 non-null   int64
 3   Murder                             9391 non-null   float64
 4   Rape                               9391 non-null   float64
 5   Kidnapping and Abduction           9391 non-null   float64
 6   Foeticide                          9391 non-null   float64
 7   Abetment of suicide                9391 non-null   float64
 8   Exposure and abandonment           9391 non-null   float64
 9   Procuration of minor girls         9391 non-null   float64
 10  Buying of girls for prostitution   9391 non-null   float64
 11  Selling of girls for prostitution  9391 non-null   float64
 12  Prohibition of child marriage act  9391 non-null   float64
 13  Other Crimes                       9391 non-null   float64
 14  Total                              9391 non-null   int64
 15  Other murder                       9391 non-null   float64
dtypes: float64(12), int64(2), object(2)
memory usage: 1.1+ MB

In [9]:

# Drop the 'Total' and 'Other murder' columns in place
combined_df.drop(columns=['Total', 'Other murder'], inplace=True)

In [12]:
combined_df['Year'].unique()

array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013], dtype=int64)

In [13]:
combined_df.to_csv('data3.csv', index=False)